.modal-body{
    padding: 0;
}


.contenido-modal{
    margin: 70px;
}

.titulo-modal{
    margin-top: 20px;
    color: Black;
    text-align: center;
}

.carta-presentacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.contenedor-imagen-modal{
    border-radius: 8px;
    box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.425);
   
}

.contenedor-imagen-modal img{
    max-width: 350px;
    min-width: 250px;
    min-height: 200px;
    max-height: 350;
}


.items-candidato-modal ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 2rem 2rem 2rem 2rem;
    border: 1px rgba(66, 6, 185, 0.699) solid;
    border-radius: 10px;

}

hr{
    color: white;
}

.form-signin{
    background-color: transparent;
    border: none;
}

.formulario-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 1px 20px;
    
}